.background {
  height: 700px;
  border: 2px solid;
  /* background-color: rgba(234, 123, 78,0.5); */
  /* background: red; */
  /* background-image: url('https://picsum.photos/id/1050/2000');
  background-repeat: no-repeat; */
  /* background-position: 50% 50%; */
  /* background-position: 50%; */
  /* background-position: center;
  background-size: cover; */
  /* opacity: 0.5; */
  /* background: linear-gradient(rgba(255, 17, 17, 0.75), rgba(0,0,0, 0.5), #d0bf05); */
  /* background: linear-gradient(to top, blue, yellow, #f11); */
  /* background: linear-gradient(#f22 50%, #00f 50%); */
  /* background: linear-gradient(red, red 10%, black 10%, black 40%, blue 40%, blue 80%, yellow 80%, yellow ); */
 /* background: radial-gradient(#f11, #0f0); */
 /* background: radial-gradient(#f22 50%, #f0f 50%); */
 background-image: linear-gradient(45deg, rgb(113, 91, 62) 0%, rgb(113, 91, 62) 70%,rgb(212, 178, 123) 70%, rgb(212, 178, 123) 71%,rgb(149, 113, 71) 71%, rgb(149, 113, 71) 77%,rgb(187, 138, 45) 77%, rgb(187, 138, 45) 87%,rgb(198, 166, 110) 87%, rgb(198, 166, 110) 96%,rgb(139, 103, 46) 96%, rgb(139, 103, 46) 100%);
}